<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="Flow" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:allowBackup="false" android:extractNativeLibs="true" android:supportsRtl="true">
        <service android:name=".DownloadService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".PlaylistBatchService" android:exported="false" android:foregroundServiceType="dataSync" />
        <activity android:name=".PlaylistActivity" android:exported="false" />
        <activity android:name=".DownloadsActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
